# Практическая работа №11

In [1]:
import warnings

warnings.filterwarnings('ignore')

## Задание 1

Найти данные для кластеризации. Предобработать данные, если это необходимо.
Если признаки в данных имеют очень сильно разные масштабы, то необходимо данные предварительно нормализовать.

In [2]:
import pandas as pd

data = pd.read_csv('wine-clustering.csv')
data

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [3]:
data.describe()

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Alcohol               178 non-null    float64
 1   Malic_Acid            178 non-null    float64
 2   Ash                   178 non-null    float64
 3   Ash_Alcanity          178 non-null    float64
 4   Magnesium             178 non-null    int64
 5   Total_Phenols         178 non-null    float64
 6   Flavanoids            178 non-null    float64
 7   Nonflavanoid_Phenols  178 non-null    float64
 8   Proanthocyanins       178 non-null    float64
 9   Color_Intensity       178 non-null    float64
 10  Hue                   178 non-null    float64
 11  OD280                 178 non-null    float64
 12  Proline               178 non-null    int64
dtypes: float64(11), int64(2)
memory usage: 18.2 KB

In [5]:
data.nunique()

Alcohol                 126
Malic_Acid              133
Ash                      79
Ash_Alcanity             63
Magnesium                53
Total_Phenols            97
Flavanoids              132
Nonflavanoid_Phenols     39
Proanthocyanins         101
Color_Intensity         132
Hue                      78
OD280                   122
Proline                 121
dtype: int64

In [6]:
print(f"Число неопределенных значений в данных: {data.isna().any().sum()}")

Число неопределенных значений в данных: 0

In [7]:
print(f"Число дубликатов в данных: {data.duplicated().sum()}")

Число дубликатов в данных: 0

In [8]:
from sklearn import preprocessing as preprc

data = pd.DataFrame(
    preprc.MinMaxScaler().fit_transform(data),
    columns=data.columns
)
data

KeyboardInterrupt

## Подготовка к проведению расчетов

In [ ]:
from sklearn.cluster import \
    AgglomerativeClustering, KMeans, DBSCAN
import numpy as np

random_state = 5785785

algos = {
    'kmeans': 'Алгоритм K-средних',
    'agglom': 'Иерархическая кластеризация',
    'dbscan': 'Алгоритм DBSCAN',
}

In [ ]:
times = pd.DataFrame({
    algos['kmeans']: [pd.NA],
    algos['agglom']: [pd.NA],
    algos['dbscan']: [pd.NA],
})

times.index = ['fit']
times.index.name = "Метод"

times

In [ ]:
import time

def time_for(alg):
    def decorator(func):
        def wrapper(*args, **kwargs):
            t = time.process_time()
            result = func(*args, **kwargs)
            times.at['fit', algos[alg]] = time.process_time() - t
            return result
        return wrapper
    return decorator

## Задание 2

Провести кластеризацию данных с помощью алгоритма k-means.
Использовать «правило локтя» и коэффициент силуэта для поиска оптимального количества кластеров.

In [ ]:
from sklearn.metrics import silhouette_score

search_range = np.arange(2, 10)

models = [
    KMeans(n_clusters=number, init='k-means++',
        random_state=random_state).fit(data)
    for number in search_range
]

In [ ]:
import matplotlib.pyplot as plt

%matplotlib notebook

fig, (inertia, silhouette) = plt.subplots(2, figsize=(8, 6), sharex='all')
fig.suptitle('Зависимость функции стоимости и\nкоэффициента силуэта от числа кластеров')

inertia.grid()
inertia.plot(search_range,
    [model.inertia_ for model in models],
marker='o')
inertia.set_ylabel('Функция стоимости')
inertia.label_outer()

silhouette.grid()
score = [
    silhouette_score(data, model.labels_)
    for model in models]
silhouette.plot(search_range, score, marker='o')
silhouette.set_ylabel('Коэффициент силуэта')

fig.show()

In [ ]:
k_dict = dict(zip(score, search_range))

best_k = k_dict.get(max(k_dict))
print(f"Коэффициент силуэта достигает максимума при k = {best_k}")

In [ ]:
@time_for('kmeans')
def fit_kmeans():
    return KMeans(
        n_clusters=best_k, init='k-means++',
        random_state=random_state).fit(data)

kmeans_model = fit_kmeans()

In [ ]:
kmeans_labels, kmeans_counts = np.unique(
    kmeans_model.labels_,
    return_counts=True,
)

kmeans_counts

## Задание 3

Провести кластеризацию данных с помощью алгоритма иерархической кластеризации.

In [ ]:
@time_for('agglom')
def fit_agglom():
    return AgglomerativeClustering(
        n_clusters=best_k,
        compute_distances=True,
    ).fit(data)

agglom_model = fit_agglom()

In [ ]:
agglom_labels, agglom_counts = np.unique(
    agglom_model.labels_,
    return_counts=True,
)

agglom_counts

## Задание 4

Провести кластеризацию данных с помощью алгоритма DBSCAN.

In [ ]:
min_samples = data.shape[1] * 2
print(f"Наименьшее число точек для формирования кластера: {min_samples}")

In [ ]:
from sklearn.neighbors import NearestNeighbors

neighbours = NearestNeighbors(n_neighbors=min_samples).fit(data)

distances, indices = neighbours.kneighbors(data)
distances = sorted(distances[:,1])

In [ ]:
fig, ax = plt.subplots(figsize=(8, 6))

ax.grid()
ax.plot(distances)
fig.show()

In [ ]:
@time_for('dbscan')
def fit_dbscan():
    return DBSCAN(eps=0.52,
        min_samples=min_samples
    ).fit(data)

dbscan_model = fit_dbscan()

In [ ]:
dbscan_labels, dbscan_counts = np.unique(
    dbscan_model.labels_, return_counts=True
)

dbscan_counts

## Задание 5

Сравнить скорость работы алгоритмов. Результаты изобразить в виде таблицы.

In [ ]:
times

## Задание 6

Визуализировать кластеризованные данные с помощью t-SNE или UMAP если данные многомерные.
Если данные трехмерные, то можно использовать трехмерный точечный график.

In [ ]:
from umap import UMAP
from typing import Iterable

def draw_umaps(clusters: Iterable):
    def draw_umap(clusters: Iterable, is3d: bool):
        n_neighbors = 25
        min_dists = [0.1, 0.6]

        fig = plt.figure(figsize=(12, 5))
        fig.suptitle(
            f'Результаты UMAP с '
            f'n_neighbors={n_neighbors} '
            f'в {"3D" if is3d else "2D"}'
        )

        axs = fig.subplots(1, 2,
            subplot_kw=dict(projection='3d')
            if is3d else None
        )

        for ax, min_dist in zip(axs.flat, min_dists):
            umap = UMAP(
                n_neighbors=n_neighbors, n_components=3 if is3d else 2,
                min_dist=min_dist, random_state=random_state
            )
            result = pd.DataFrame(umap.fit_transform(data))
            args = [result.iloc[:, i] for i in
                range(3 if is3d else 2)]
            ax.scatter(*args, c=clusters, cmap='coolwarm', alpha=0.5)
            ax.set_title(f'min_dist={min_dist}')
            ax.set_axisbelow(True)
            ax.grid(axis='both')

        fig.show()

    draw_umap(clusters, is3d=False)
    draw_umap(clusters, is3d=True)

In [ ]:
draw_umaps(kmeans_model.labels_)

In [ ]:
draw_umaps(agglom_model.labels_)

In [ ]:
draw_umaps(dbscan_model.labels_)