# Практическая работа 6

In [1]:
import warnings

warnings.filterwarnings("ignore")

In [2]:
import pandas as pd

## Задание 1

In [3]:
ecd = pd.read_csv('ECDCCases.csv')

print(f'Dataframe dimensions: {ecd.shape}')
ecd.head()

Dataframe dimensions: (61904, 12)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
4,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266

## Задание 2

In [4]:
ecd.isna().sum() / len(ecd.index) * 100

dateRep                                                       0.000000
day                                                           0.000000
month                                                         0.000000
year                                                          0.000000
cases                                                         0.000000
deaths                                                        0.000000
countriesAndTerritories                                       0.000000
geoId                                                         0.444236
countryterritoryCode                                          0.198695
popData2019                                                   0.198695
continentExp                                                  0.000000
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    4.650750
dtype: float64

In [5]:
ecd.drop(['geoId', 'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'], axis = 1, inplace=True)

In [6]:
ecd['countryterritoryCode'].fillna('other', inplace=True)
ecd['popData2019'].fillna(ecd['popData2019'].median(), inplace=True)

In [7]:
ecd.isna().sum() / len(ecd.index) * 100

dateRep                    0.0
day                        0.0
month                      0.0
year                       0.0
cases                      0.0
deaths                     0.0
countriesAndTerritories    0.0
countryterritoryCode       0.0
popData2019                0.0
continentExp               0.0
dtype: float64

## Задание 3

In [8]:
ecd.describe()

,day,month,year,cases,deaths,popData2019
count,61904.000000,61904.000000,61904.000000,61904.000000,61904.000000,6.190400e+04
mean,15.629232,7.067104,2019.998918,1155.079026,26.053987,4.091909e+07
std,8.841624,2.954816,0.032881,6779.010824,131.222948,1.529798e+08
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.324820e+06
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.169456e+06
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.851583e+07
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09

In [18]:
countries = ecd[ecd.deaths > 3000].countriesAndTerritories

countries.drop_duplicates()

2118                    Argentina
16908                     Ecuador
37038                      Mexico
44888                        Peru
59007    United_States_of_America
Name: countriesAndTerritories, dtype: object

In [19]:
countries.shape

(11,)

## Задание 4

In [20]:
ecd[ecd.duplicated(keep=False)]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
2,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
3,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
217,12/05/2020,12,5,2020,285,2,Afghanistan,AFG,38041757.0,Asia
218,12/05/2020,12,5,2020,285,2,Afghanistan,AFG,38041757.0,Asia
48009,29/05/2020,29,5,2020,0,0,Saint_Lucia,LCA,182795.0,America
48010,29/05/2020,29,5,2020,0,0,Saint_Lucia,LCA,182795.0,America
48072,28/03/2020,28,3,2020,0,0,Saint_Lucia,LCA,182795.0,America
48073,28/03/2020,28,3,2020,0,0,Saint_Lucia,LCA,182795.0,America

In [21]:
ecd.drop_duplicates(keep='first', inplace=True)

In [22]:
ecd.duplicated().sum()

0

## Задание 5

In [23]:
bmi = pd.read_csv('bmi.csv')

print(f'Dataframe dimensions: {bmi.shape}')
bmi.head()

Dataframe dimensions: (650, 2)

      bmi     region
0  22.705  northwest
1  28.880  northwest
2  27.740  northwest
3  25.840  northwest
4  28.025  northwest

In [24]:
import scipy.stats as sts

In [115]:
sample_names = ('northwest', 'southwest', )

samples = dict(zip(sample_names,
    [bmi[bmi.region == name].bmi for name in sample_names]
))

In [112]:
for name, sample in samples.items():
    shapiro = sts.shapiro(sample)
    chk = shapiro.pvalue < 0.05

    print(
        f'Результаты проверки выборки на нормальность (по критерию Шопиро-Уилка) для выборки `{name}`: ',
        f'  - {shapiro}',
        f'Поскольку pvalue={shapiro.pvalue} {"меньше" if chk else "больше"} 0.05, то '
        f'выборка {"НЕ ИМЕЕТ нормального распределения" if chk else "неплохо согласуется с нормальным распределением"}.',
    sep='\n')
    print()

Результаты проверки выборки на нормальность (по критерию Шопиро-Уилка) для выборки `northwest`:
  - ShapiroResult(statistic=0.9954646825790405, pvalue=0.4655335247516632)
Поскольку pvalue=0.4655335247516632 больше 0.05, то выборка неплохо согласуется с нормальным распределением.

Результаты проверки выборки на нормальность (по критерию Шопиро-Уилка) для выборки `southwest`:
  - ShapiroResult(statistic=0.9949268698692322, pvalue=0.3629520535469055)
Поскольку pvalue=0.3629520535469055 больше 0.05, то выборка неплохо согласуется с нормальным распределением.

In [113]:
bartlett = sts.bartlett(*samples.values())
chk = bartlett.pvalue < 0.05

print(
    'Нулевая гипотеза предполагает, что рассматриваемые выборки получены из генеральных совокупностей, обладающих одинаковыми дисперсиями.\n',
    f'Результаты проверки гомогенности дисперсии (по критерию Бартлетта) для двух выборок {[_ for _ in samples.keys()]}: ',
    f'  - {bartlett}\n',
    f'Поскольку pvalue={bartlett.pvalue} {"меньше" if chk else "больше"} 0.05, то '
    f'нулевая гипотеза {"отвергается, принимается `альтернативная` гипотеза" if chk else "НЕ отвергается"}.',
sep='\n')

Нулевая гипотеза предполагает, что рассматриваемые выборки получены из генеральных совокупностей, обладающих одинаковыми дисперсиями.

Результаты проверки гомогенности дисперсии (по критерию Бартлетта) для двух выборок ['northwest', 'southwest']:
  - BartlettResult(statistic=3.4000745256459286, pvalue=0.06519347353581818)

Поскольку pvalue=0.06519347353581818 больше 0.05, то нулевая гипотеза НЕ отвергается.

In [114]:
t_test_ind = sts.ttest_ind(*samples.values())
chk = t_test_ind.pvalue < 0.05

print(
    'Нулевая гипотеза — исследуемые выборки принадлежат к одной генеральной совокупности.',
    'Альтернативная гипотеза — исследуемые выборки принадлежат к разным генеральным совокупностям.\n',
    f'Результаты использования t-критерия Стьюдента для сравнения средних значений двух выборок {[_ for _ in samples.keys()]}: ',
    f'  - {t_test_ind}\n',
    f'Поскольку pvalue={t_test_ind.pvalue} {"меньше" if chk else "больше"} 0.05, то '
    f'нулевая гипотеза {"отвергается, принимается `альтернативная` гипотеза" if chk else "НЕ отвергается"}.',
sep='\n')

Нулевая гипотеза — исследуемые выборки принадлежат к одной генеральной совокупности.
Альтернативная гипотеза — исследуемые выборки принадлежат к разным генеральным совокупностям.

Результаты использования t-критерия Стьюдента для сравнения средних значений двух выборок ['northwest', 'southwest']:
  - Ttest_indResult(statistic=-3.2844171500398582, pvalue=0.001076958496307695)

Поскольку pvalue=0.001076958496307695 меньше 0.05, то нулевая гипотеза отвергается, принимается `альтернативная` гипотеза.

## Задание 6

In [118]:
throws = pd.DataFrame(
    data=dict(
        observed=[97, 98, 109, 95, 97, 104],
        expected=[100] * 6),
    index=[1, 2, 3, 4, 5, 6],
)

throws

   observed  expected
1        97       100
2        98       100
3       109       100
4        95       100
5        97       100
6       104       100

In [124]:
chisquare = sts.chisquare(throws.observed, throws.expected)
chk = chisquare.pvalue < 0.05

print(
    'Нулевая гипотеза предполагает, что полученное распределение является равномерным.\n',
    f'Результаты проверки распределения на равномерность с помощью критерия Хи-квадрат: ',
    f'  - {chisquare}\n',
    f'Поскольку pvalue={chisquare.pvalue} {"меньше" if chk else "больше"} 0.05, то '
    f'нулевая гипотеза {"отвергается, принимается `альтернативная` гипотеза" if chk else "НЕ отвергается"}.',
sep='\n')

Нулевая гипотеза предполагает, что полученное распределение является равномерным.

Результаты проверки распределения на равномерность с помощью критерия Хи-квадрат:
  - Power_divergenceResult(statistic=1.44, pvalue=0.9198882077437889)

Поскольку pvalue=0.9198882077437889 больше 0.05, то нулевая гипотеза НЕ отвергается.

## Задание 7

In [126]:
data = pd.DataFrame(
    data={
        'Женат': [89, 17, 11, 43, 22, 1],
        'Гражданский брак': [80, 22, 20, 35, 6, 4],
        'Не состоит в отношениях': [35, 44, 35, 6, 8, 22]
    },
    index=[
        'Полный рабочий день', 'Частичная занятость', 'Временно не работает',
        'На домохозяйстве', 'На пенсии', 'Учёба'
    ],
)

data

                      Женат  Гражданский брак  Не состоит в отношениях
Полный рабочий день      89                80                       35
Частичная занятость      17                22                       44
Временно не работает     11                20                       35
На домохозяйстве         43                35                        6
На пенсии                22                 6                        8
Учёба                     1                 4                       22

In [137]:
chi2_contingency = sts.chi2_contingency(data)[:3]
chk = chi2_contingency[1] < 0.05

print(
    'Нулевая гипотеза — категориальные переменные независимы.',
    'Альтернативная гипотеза — категориальные переменные связаны между собой.\n',
    f'Результаты проверки зависимости переменных с помощью критерия Хи-квадрат: ',
    f'  - {chi2_contingency}\n',
    f'Поскольку pvalue={chi2_contingency[1]} {"меньше" if chk else "больше"} 0.05, то '
    f'нулевая гипотеза {"отвергается, принимается `альтернативная` гипотеза" if chk else "НЕ отвергается"}.',
sep='\n')

Нулевая гипотеза — категориальные переменные независимы.
Альтернативная гипотеза — категориальные переменные связаны между собой.

Результаты проверки зависимости переменных с помощью критерия Хи-квадрат:
  - (122.29654948595365, 1.7291616900960234e-21, 10)

Поскольку pvalue=1.7291616900960234e-21 меньше 0.05, то нулевая гипотеза отвергается, принимается `альтернативная` гипотеза.